/.idea
/.bsp
target
/project/.bloop
/project/metals.sbt
/project/target
/project/project/
/.scalafmt.conf
/scalastyle-config.xml
/akka-diagnostics
/resources/embedded-h2/quest.mv.db

.DS_Store
*~

/RUNNING_PID
/logs
/journal
/public/*
!/public/mocked-data
/.angulardoc.json

.metals
.vscode
null
.bloop
.history
